#main {
    margin-top: 30px;
    background-color: rgb(242, 242, 242);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    max-width: 100%;
    height: auto;
    color: rgb(31, 29, 29);
  
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  #title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    color: rgb(61, 55, 55);
  
  }
  img {
    display: block;
  }
  
  #image {
    max-width: 100%;
    margin: auto;
    
  }
  
  #img-div {
    text-align: center;  
    margin: auto;
    width: 98%;
    height: auto;
    box-sizing: border-box;
    background-color: white;
  }
  
  #img-caption {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #tribute-info{
    margin: auto;
    width: 40%;
    height: auto;
    box-sizing: border-box;
  }
  
  #tribute-info h3 {
    padding: 15px 0 30px 85px;
  }
  
  #tribute-info li {
    padding: 10px 0;
  }
  
  #context {
    padding-left: 25px;
  }
  
  #tribute-heading {
    padding: 25px 0 25px 0;
    text-align: center;
  }